PGR 3.0/XML Guides & XSDs/XSDs/DKD51A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Bjarne Ulvmose (SKAT Hovedcentret) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://manifest.skat.dk/DKD51A" xmlns:complex_manifest="http://manifest.skat.dk/complex_manifest" xmlns:simple_manifest="http://manifest.skat.dk/simple_manifest" xmlns:tcl_manifest="http://manifest.skat.dk/tcl_manifest" xmlns:simple="http://manifest.skat.dk/simple" xmlns:tcl="http://manifest.skat.dk/tcl" xmlns:doc="http://manifest.skat.dk/doc" targetNamespace="http://manifest.skat.dk/DKD51A" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00">
	<!--=========================================-->
	<!--=====DKD51A:N_DN_DK   -->
	<!--===== DEPARTURE NOTIFICATION    -->
	<!--===== Manifest / ICS Domain Definition  -->
	<!--===== DDNIA v6.00  -->
	<!--===== CSE v0.11 / DDNA KEL 0.23  -->
	<!--=========================================-->
	<!--===== Imports =====-->
	<xs:import namespace="http://manifest.skat.dk/doc" schemaLocation="doc.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/complex_manifest" schemaLocation="complex_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple_manifest" schemaLocation="simple_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl_manifest" schemaLocation="tcl_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple" schemaLocation="simple_types.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl" schemaLocation="tcl.xsd"/>
	<!--===== Root Element =====-->
	<xs:element name="DKD51A" type="ie:DKD51AType"/>
	<!--===== Root Element Content =====-->
	<xs:complexType name="DKD51AType">
		<xs:sequence>
			<xs:group ref="ie:MESSAGE"/>
			<xs:element name="HEAHEA" type="ie:HEAHEAType">
				<xs:annotation>
					<xs:documentation>
						<description value="HEADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRAOPE" type="ie:TRAOPEType">
				<xs:annotation>
					<xs:documentation>
						<description value="TRANSPORT OPERATOR"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRAOPR" type="ie:TRAOPRType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="TRANSPORT OPERATION"/>
						<condition name="C123DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDEPNOT" type="ie:PERLODDEPNOTType">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE DEPARTURE  NOTIFICATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== MESSAGE Content =====-->
	<xs:group name="MESSAGE">
		<xs:sequence>
			<xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message sender"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message recipient"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatOfPreMES9" type="simple:DatePrepType">
				<xs:annotation>
					<xs:documentation>
						<description value="Date of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimOfPreMES10" type="simple:TimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Time of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Priority"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Test indicator"/>
						<rule name="TR9085"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
				<xs:annotation>
					<xs:documentation>
						<description value="Message identification"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMES20" type="tcl:MessageTypes">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Correlation identifier"/>
						<rule name="TR9181"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!--=== HEADER ===-->
	<xs:complexType name="HEAHEAType">
		<xs:annotation>
			<xs:documentation>
				<description value="HEADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LRNNumHEA" type="simple:DeclarationRequestNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="LRN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TraModAtBorHEA76" type="simple:Numeric2Max">
				<xs:annotation>
					<xs:documentation>
						<description value="Transport mode"/>
						<rule name="R010DK"/>
						<codeList name="TransportMode"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UniIdeDivHEA132" type="simple:Alphanumeric_Max35" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Identification of the means of transport"/>
						<rule name="R011DK"/>
						<condition name="C219DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NamOfTheMeaOfTraHEA" type="simple:Alphanumeric_Max35" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Name of the means of transport"/>
						<condition name="C018DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalIdeHEA" type="simple:Alphanumeric_Max36" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Call ID"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaOfDepHEA" type="simple:PlaceType">
				<xs:annotation>
					<xs:documentation>
						<description value="Place of departure facility"/>
						<rule name="R206DK"/>
						<rule name="R207DK"/>
						<rule name="R208DK"/>
						<codeList name="Loading_UnloadingPlaceFacility"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatOfMeaOfTraHEA" type="simple:CountryCodeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Nationality of the means of transport"/>
						<rule name="R038DK"/>
						<codeList name="CountryCodesFullList"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarCodHEA" type="simple:Alphanumeric_Max4">
				<xs:annotation>
					<xs:documentation>
						<description value="Cargo code"/>
						<rule name="R192DK"/>
						<codeList name="Cargo Codes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NexDesHEA" type="simple:LongPlaceType">
				<xs:annotation>
					<xs:documentation>
						<description value="Next destination"/>
						<rule name="R001DK"/>
						<rule name="R032DK"/>
						<codeList name="CountryCodesFullList"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConRefNumHEA" type="simple:Alphanumeric_Max35" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Conveyance reference number"/>
						<rule name="R241DK"/>
						<rule name="R843"/>
						<condition name="C218DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotGroMasHEA307" type="simple:Decimal_16_6">
				<xs:annotation>
					<xs:documentation>
						<description value="Total gross mass"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TRANSPORT OPERATOR ===-->
	<xs:complexType name="TRAOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TRANSPORT OPERATOR"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamTRO" type="simple:TradNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrNumTRO" type="simple:StreetNumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Street and number"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CouCodTRO" type="simple:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Country code"/>
						<codeList name="CountryCodesFullList" type="business"/>
						<condition name="C501"/>
						<rule name="R038DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstCodTRO" type="simple:PostalCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Postal code"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtyTRO" type="simple:CityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="City"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINTRO" type="simple:TINType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
						<condition name="C229DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TRANSPORT OPERATION ===-->
	<xs:complexType name="TRAOPRType">
		<xs:sequence>
			<xs:element name="ManRefNumOPE" type="simple:Numeric_13">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest reference number"/>
						<rule name="R195DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CARCAO" type="ie:CARCAOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="CARRIER"/>
						<condition name="C120DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDEPCLAPLD" type="ie:PERLODDEPCLAPLDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING DEPARTURE DECLARARTION"/>
						<condition name="C121DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CARRIER ===-->
	<xs:complexType name="CARCAOType">
		<xs:annotation>
			<xs:documentation>
				<description value="CARRIER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINCAO" type="simple:TINType">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING DEPARTURE DECLARATION ===-->
	<xs:complexType name="PERLODDEPCLAPLDType">
		<xs:annotation>
			<xs:documentation>
				<description value="PERSON LODGING DEPARTURE DECLARATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINPLD" type="simple:TINType">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE DEPARTUE NOTIFICATION ===-->
	<xs:complexType name="PERLODDEPNOTType">
		<xs:annotation>
			<xs:documentation>
				<description value="TRANSPORT OPERATOR"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINPDN" type="simple:TINType">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepStaPDN" type="simple:Numeric_1">
				<xs:annotation>
					<xs:documentation>
						<description value="Representative status: "/>
						<rule name="R225DK"/>
						<codeList name="RepresentativeStatusCode"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
