PGR 3.0/XML Guides & XSDs/XSDs/DKD87A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 (x64) (http://www.altova.com) by Carsten Nielsen (CGI DANMARK A/S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://manifest.skat.dk/DKD87A" xmlns:complex_manifest="http://manifest.skat.dk/complex_manifest" xmlns:simple_manifest="http://manifest.skat.dk/simple_manifest" xmlns:tcl_manifest="http://manifest.skat.dk/tcl_manifest" xmlns:simple="http://manifest.skat.dk/simple" xmlns:tcl="http://manifest.skat.dk/tcl" xmlns:doc="http://manifest.skat.dk/doc" targetNamespace="http://manifest.skat.dk/DKD87A" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00">
	<!--=========================================-->
	<!--=====DKD87A:N_DED_EXIT_DK   -->
	<!--===== DEPARTURE DECLARATION EXIT   -->
	<!--===== Manifest / ICS Domain Definition  -->
	<!--===== DDNIA v6.00  -->
	<!--===== CSE v0.11 / DDNA KEL 0.23  -->
	<!--=========================================-->
	<!-- 2021-08-03 TraDocRefMANITE max length 70 -->
	<!--===== Imports =====-->
	<xs:import namespace="http://manifest.skat.dk/doc" schemaLocation="doc.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/complex_manifest" schemaLocation="complex_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple_manifest" schemaLocation="simple_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl_manifest" schemaLocation="tcl_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple" schemaLocation="simple_types.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl" schemaLocation="tcl.xsd"/>
	<!--===== Root Element =====-->
	<xs:element name="DKD87A" type="ie:DKD87AType"/>
	<!--===== Root Element Content =====-->
	<xs:complexType name="DKD87AType">
		<xs:sequence>
			<xs:group ref="ie:MESSAGE"/>
			<xs:element name="HEAHEA" type="ie:HEAHEAType">
				<xs:annotation>
					<xs:documentation>
						<description value="HEADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MANITE" type="ie:MANITEType" maxOccurs="9999">
				<xs:annotation>
					<xs:documentation>
						<description value="MANIFEST ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRAOPE" type="ie:TRAOPEType">
				<xs:annotation>
					<xs:documentation>
						<description value="TRANSPORT OPERATOR"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRAEXICAR" type="ie:TRAEXICARType">
				<xs:annotation>
					<xs:documentation>
						<description value="(EXIT CARRIER) TRADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRAOPEREP" type="ie:TRAOPEREPType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TRANSPORT OPERATOR REPRESENTATIVE"/>
						<condition name="C043DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDEPNOT" type="ie:PERLODDEPNOTType">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE DEPARTURE  NOTIFICATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== MESSAGE Content =====-->
	<xs:group name="MESSAGE">
		<xs:sequence>
			<xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message sender"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message recipient"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatOfPreMES9" type="simple:DatePrepType">
				<xs:annotation>
					<xs:documentation>
						<description value="Date of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimOfPreMES10" type="simple:TimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Time of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Priority"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Test indicator"/>
						<rule name="TR9085"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
				<xs:annotation>
					<xs:documentation>
						<description value="Message identification"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMES20" type="tcl:MessageTypes">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Correlation identifier"/>
						<rule name="TR9181"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!--=== HEADER ===-->
	<xs:complexType name="HEAHEAType">
		<xs:annotation>
			<xs:documentation>
				<description value="HEADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManRefNumHEA1" type="simple:Numeric_13">
				<xs:annotation>
					<xs:documentation>
						<description value="MRN"/>
						<rule name="R195DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LRNNUmHEA" type="simple:DeclarationRequestNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="LRN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TraModAtBorHEA76" type="simple:Numeric_Max2">
				<xs:annotation>
					<xs:documentation>
						<description value="Transport mode"/>
						<rule name="R010DK"/>
						<codeList name="TransportMode" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UniIdeDivHEA132" type="simple:Alphanumeric_Max35" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Identification of the means of transport"/>
						<rule name="R011DK"/>
						<condition name="C219DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatOfMeaOfTraHEA" type="simple:CountryCodeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Nationality of the means of transport"/>
						<rule name="R038DK"/>
						<codeList name="CountryCodesFullList" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NamOfMeaTraHEA" type="simple:Alphanumeric_Max35" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Name of the means of transport"/>
						<condition name="C018DK" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConRefNumHEA" type="simple:Alphanumeric_Max35" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Conveyance reference number"/>
						<rule name="R843"/>
						<condition name="C218DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpDatTimDepHEA" type="simple:DateTimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Expected date and time of departure"/>
						<rule name="R660"/>
						<rule name="R009DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaOfDepFacHEA" type="simple:PlaceType">
				<xs:annotation>
					<xs:documentation>
						<description value="Place of departure facility"/>
						<codeList name="Loading_UnloadingPlaceFacility"/>
						<rule name="R043DK"/>
						<rule name="R044DK"/>
						<rule name="R208DK"/>
						<rule name="R224DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NexDesHEA" type="simple:LongPlaceType">
				<xs:annotation>
					<xs:documentation>
						<description value="Next destination"/>
						<rule name="R022DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotGroMasHEA307" type="simple:Decimal_16_6">
				<xs:annotation>
					<xs:documentation>
						<description value="Total gross mass"/>
						<rule name="R015DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===  MANITE ===-->
	<xs:complexType name="MANITEType">
		<xs:annotation>
			<xs:documentation>
				<description value="MANIFEST ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IteNumMANITE" type="simple:Numeric_Max5">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest item number"/>
						<rule name="R004DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CusStaMANITE" type="simple:Alphanumeric_Max5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Customs status"/>
						<codeList name="CustomsStatus"/>
						<rule name="R035DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaUnlMANITE" type="simple:AlphanumericSpecMax35Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Place of loading"/>
						<rule name="R001DK"/>
						<rule name="R032DK"/>
						<condition name="C023DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaLoaMANITE" type="simple:AlphanumericSpecMax35Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Unloading place"/>
						<rule name="R001DK"/>
						<rule name="R032DK"/>
						<condition name="C023DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisReaMANITE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Discrepancy reason"/>
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="simple:AlphaType">
						<xs:maxLength value="255" fixed="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TraDocTypMANITE" type="simple:Alphanumeric_Max4">
				<xs:annotation>
					<xs:documentation>
						<description value="Transport document type"/>
						<codeList name="DocumentTypeCommon" type="business"/>
						<rule name="R199"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TraDocRefMANITE" type="simple:Alphanumeric_Max70">
				<xs:annotation>
					<xs:documentation>
						<description value="Transport document reference"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IteGroMasMANITE" type="simple:Decimal_16_6">
				<xs:annotation>
					<xs:documentation>
						<description value="Gross Mass"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUSDAT" type="ie:CUSDATType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="CUSTOMS DATA"/>
						<condition name="C224DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUSDOC" type="ie:CUSDOCType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="PRODUCED  CUSTOMS DOCUMENTS"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CONMC2" type="ie:CONMC2Type" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="CONTAINER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRUSPC" type="ie:TRUSPCType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TRUCK SPECIFICATION"/>
						<condition name="C096DK"/>
						<condition name="C240DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CUSTOMS DATA ===-->
	<xs:complexType name="CUSDATType">
		<xs:annotation>
			<xs:documentation>
				<description value="CUSTOMS DATA"/>
				<condition name="C046DK"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CusDatTypCDA" type="simple:Alphanumeric_Max4">
				<xs:annotation>
					<xs:documentation>
						<description value="Customs data type"/>
						<rule name="R191DK"/>
						<rule name="R202DK"/>
						<rule name="R427DK"/>
						<codeList name="CustomsDataType"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CusDatRefCDA" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Customs data reference"/>
						<rule name="R200DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinCDA" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Final or partial shipment"/>
						<rule name="R201DK"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUSDATDET" type="ie:CUSDATDETType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="CUSTOMS DATA DETAIL"/>
						<condition name="C220DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CUSTOMS DATA DETAIL ===-->
	<xs:complexType name="CUSDATDETType">
		<xs:sequence>
			<xs:element name="IteNumCDDCDA" type="simple:Numeric_Max5">
				<xs:annotation>
					<xs:documentation>
						<description value="Item Number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumPacCDDCDA" type="simple:Numeric_Max5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Number of packages involved"/>
						<condition name="C221DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumPieCDDCDA" type="simple:Numeric_Max5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Number of pieces involved"/>
						<condition name="C221DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroMasCDDCDA" type="simple:Decimal_16_6" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Gross mass involved"/>
						<condition name="C222DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PRODUCED CUSTOMS DOCUMENT ===-->
	<xs:complexType name="CUSDOCType">
		<xs:annotation>
			<xs:documentation>
				<description value="PRODUCED CUSTOMS DOCUMENT"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CusDocTypCDO" type="simple:Alphanumeric_Max4">
				<xs:annotation>
					<xs:documentation>
						<description value="Customs document type"/>
						<rule name="R036DK"/>
						<codeList name="CustomsDocumentsType" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CusDocRefCDO" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Customs document reference"/>
						<rule name="R200DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CONTAINER ===-->
	<xs:complexType name="CONMC2Type">
		<xs:annotation>
			<xs:documentation>
				<description value="CONTAINER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConNumMC21" type="simple:Alphanumeric_Max17">
				<xs:annotation>
					<xs:documentation>
						<description value="Container number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TRANSPORT OPERATOR ===-->
	<xs:complexType name="TRAOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TRANSPORT OPERATOR"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamTRO" type="simple:TradNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrNumTRO" type="simple:StreetNumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Street and number"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CouCodTRO" type="simple:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Country code"/>
						<codeList name="CountryCodesFullList" type="business"/>
						<rule name="R038DKDK"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstCodTRO" type="simple:PostalCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Postal code"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtyTRO" type="simple:CityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="City"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINTRO" type="simple:TINType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
						<condition name="C229DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== (EXIT CARRIER) TRADER ===-->
	<xs:complexType name="TRAEXICARType">
		<xs:annotation>
			<xs:documentation>
				<description value="(EXIT CARRIER) TRADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamTEC1" type="simple:TradNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrNumTEC2" type="simple:StreetNumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Street and number"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CouCodTEC1" type="simple:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Country code"/>
						<codeList name="CountryCodesCommunity" type="business"/>
						<rule name="R038DKDK"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstCodTEC1" type="simple:PostalCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Postal code"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtyTEC1" type="simple:CityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="City"/>
						<condition name="C008DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINTEC2" type="simple:TINType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
						<condition name="C229DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TRANSPORT OPERATOR REPRESENTATIVE ===-->
	<xs:complexType name="TRAOPEREPType">
		<xs:sequence>
			<xs:element name="TINTOR" type="simple:TINType">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R0"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE DEPARTUE NOTIFICATION ===-->
	<xs:complexType name="PERLODDEPNOTType">
		<xs:annotation>
			<xs:documentation>
				<description value="PERSON LODGING THE DEPARTURE NOTIFICATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINPDN" type="simple:TINType">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepStaPDN" type="simple:Numeric_1">
				<xs:annotation>
					<xs:documentation>
						<description value="Representantive status"/>
						<rule name="R203DK"/>
						<codeList name="RepresentativeStatusCode"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
                        <xs:element name="ContNamPDN" type="simple:Alphanumeric_Max70">
				<xs:annotation>
					<xs:documentation>
						<description value="Contact name"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
                        <xs:element name="ContTelPDN" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Contact telephone number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
                        <xs:element name="ContEmaPDN" type="simple:Alphanumeric_Max256" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Contact email address"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TRUCK SPECIFIKATION ===-->
	<xs:complexType name="TRUSPCType">
		<xs:sequence>
			<xs:element name="IdeofMeaTraTRS" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Identification of the means of transport"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatOfMeaOfTraTRS" type="simple:CountryCodeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Nationality of the means of transport"/>
						<rule name="R038DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxtDesTRS" type="simple:Alphanumeric_Max35" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Textual description"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
