ICS2 for luftfragt/XML Guides & XSDs/XSDs/DKA54A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Bjarne Ulvmose (SKAT Hovedcentret) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://manifest.skat.dk/DKA54A" xmlns:complex_manifest="http://manifest.skat.dk/complex_manifest" xmlns:simple_manifest="http://manifest.skat.dk/simple_manifest" xmlns:tcl_manifest="http://manifest.skat.dk/tcl_manifest" xmlns:simple="http://manifest.skat.dk/simple" xmlns:tcl="http://manifest.skat.dk/tcl" xmlns:doc="http://manifest.skat.dk/doc" targetNamespace="http://manifest.skat.dk/DKA54A" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00">
	<!--=========================================-->
	<!--=====DKA54A:N_ADV_TS_OPER_DK -->
	<!--===== ADVANCE TEMPORARY STORAGE OPERATION -->
	<!--===== Manifest /ics Domain Definition  -->
	<!--===== DDNIA v6.00  -->
	<!--===== CSE v0.11 / DDNA KEL 0.23  -->
	<!--===== Included Features: [10, 12, 18, 20, 26, 27, 28, 29]  -->
	<!--=========================================-->
	<!--===== Imports =====-->
	<xs:import namespace="http://manifest.skat.dk/doc" schemaLocation="doc.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/complex_manifest" schemaLocation="complex_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple_manifest" schemaLocation="simple_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl_manifest" schemaLocation="tcl_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple" schemaLocation="simple_types.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl" schemaLocation="tcl.xsd"/>
	<!--===== Root Element =====-->
	<xs:element name="DKA54A" type="ie:DKA54AType"/>
	<!--===== Root Element Content =====-->
	<xs:complexType name="DKA54AType">
		<xs:sequence>
			<xs:group ref="ie:MESSAGE"/>
			<xs:element name="HEAHEA" type="ie:HEAType">
				<xs:annotation>
					<xs:documentation>
						<description value="HEADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOOPE" type="ie:TEMSTOOPEType">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GOOITEGDS" type="ie:GOOITEGDSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="GOODS ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFACOPE" type="ie:TEMSTOFACOPEType">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUSOFFARR" type="ie:CUSOFFARRType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="CUSTOMS OFFICE OF ARRIVAL"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODARRDEC" type="ie:PERLODARRDECType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE ARRIVAL DECLARATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDECTEMSTO" type="ie:PERLODDECTEMSTOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MESMDE" type="ie:MESMDEType">
				<xs:annotation>
					<xs:documentation>
						<description value="MESSAGE DETAIL"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRAOPR" type="ie:TRAOPRType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TRANSPORT OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== MESSAGE Content =====-->
	<xs:group name="MESSAGE">
		<xs:sequence>
			<xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message sender"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message recipient"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatOfPreMES9" type="simple:DatePrepType">
				<xs:annotation>
					<xs:documentation>
						<description value="Date of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimOfPreMES10" type="simple:TimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Time of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Priority"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Test indicator"/>
						<rule name="TR9085"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
				<xs:annotation>
					<xs:documentation>
						<description value="Message identification"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMES20" type="tcl:MessageTypes">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Correlation identifier"/>
						<rule name="TR9181"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!--=== HEADER ===-->
	<xs:complexType name="HEAType">
		<xs:annotation>
			<xs:documentation>
				<description value="HEADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TemStoRefNumHEA" type="simple:Numeric_13">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatTimArrHEA" type="simple:DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Date and time of arrrival"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecAccDatTimHEA" type="simple:DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Declaration accept date and time"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecStaCodHEA" type="simple:Alphanumeric_Max2">
				<xs:annotation>
					<xs:documentation>
						<description value="Declaration status code"/>
						<codeList name="StatusCodes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpDatTimHEA" type="simple:DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Expiration date and time"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE OPERATION ===-->
	<xs:complexType name="TEMSTOOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LRNTST" type="simple:Alphanumeric_Max22">
				<xs:annotation>
					<xs:documentation>
						<description value="LRN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InlTraModTST" type="simple:Numeric_Max2">
				<xs:annotation>
					<xs:documentation>
						<description value="Inland transport mode"/>
						<codeList name="TransportMode" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdeMeaTraArrTST" type="simple:Alphanumeric_Max31" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Identification of the means of transport at arrival"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatMeaTraArrTST" type="simple:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Nationality of the means of transport at arrival"/>
						<codeList name="CountryCodesFullList" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConRefNumTST" type="simple:Alphanumeric_Max35" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Conveyance reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComRefNumTST" type="simple:Alphanumeric_Max70" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Commercial reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnlPlaFacTST" type="simple:PlaceType">
				<xs:annotation>
					<xs:documentation>
						<description value="Unloading place facility"/>
						<codeList name="Loading_UnloadingPlaceFacility"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotNumIteTST" type="simple:Numeric_Max5">
				<xs:annotation>
					<xs:documentation>
						<description value="Total number of items"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotGroMasTST" type="simple:Decimal_16_6">
				<xs:annotation>
					<xs:documentation>
						<description value="Total gross mass"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== GOODS ITEM ===-->
	<xs:complexType name="GOOITEGDSType">
		<xs:annotation>
			<xs:documentation>
				<description value="GOODS ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IteNumGDS7" type="simple:Numeric_Max5">
				<xs:annotation>
					<xs:documentation>
						<description value="Item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroMasGDS46" type="simple:Decimal_16_6">
				<xs:annotation>
					<xs:documentation>
						<description value="Gross mass"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CONNR2" type="ie:CONNR2Type" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="CONTAINERS"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PREADMDOC" type="ie:PREADMDOCType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="PREVIOUS ADMINISTRATIVE DOCUMENT"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== CONTAINERS =====-->
	<xs:complexType name="CONNR2Type">
		<xs:annotation>
			<xs:documentation>
				<description value="CONTAINERS"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConNumNR21" type="simple:Alphanumeric_Max17">
				<xs:annotation>
					<xs:documentation>
						<description value="Container number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PREVIUOS ADMINISTRATIVE DOCUMENT ===-->
	<xs:complexType name="PREADMDOCType">
		<xs:annotation>
			<xs:documentation>
				<description value="PREVIOUS ADMINISTRATIVE DOCUMENT"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PreDocTypPDO" type="simple:Alphanumeric_Max4">
				<xs:annotation>
					<xs:documentation>
						<description value="Previous document type"/>
						<codeList name="DocumentTypeCommon" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreDocRefPDO" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Previous document reference"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY OPERATOR ===-->
	<xs:complexType name="TEMSTOFACOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINTFO" type="simple:TINType">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CUSTOMS OFFICE OF ARRIVAL ===-->
	<xs:complexType name="CUSOFFARRType">
		<xs:annotation>
			<xs:documentation>
				<description value="CUSTOMS OFFICE OF ARRIVAL"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RefNumCOA" type="simple:CORefNumType">
				<xs:annotation>
					<xs:documentation>
						<description value="Reference number"/>
						<codeList name="COL"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE ARRIVAL DECLARATION ===-->
	<xs:complexType name="PERLODARRDECType">
		<xs:annotation>
			<xs:documentation>
				<description value="PERSON LODING THE ARRIVAL DECLARATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINPLA" type="simple:TINType">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NamPLA" type="simple:TradNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE ===-->
	<xs:complexType name="PERLODDECTEMSTOType">
		<xs:annotation>
			<xs:documentation>
				<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINPDS" type="simple:TINType">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== MESSAGE DETAIL ===-->
	<xs:complexType name="MESMDEType">
		<xs:annotation>
			<xs:documentation>
				<description value="MESSAGE DETAIL"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResDatTimMDE" type="simple:DateTimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Response date and time"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMDE" type="simple:Numeric_2">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessagesType" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesReaCodMDE" type="simple:Alphanumeric_Max6">
				<xs:annotation>
					<xs:documentation>
						<description value="Message reason code"/>
						<codeList name="MessagesReasonCodes" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesReaMDE" type="simple:Alphanumeric_Max350">
				<xs:annotation>
					<xs:documentation>
						<description value="Meassage reason"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TRANSPORT OPERATION ===-->
	<xs:complexType name="TRAOPRType">
		<xs:annotation>
			<xs:documentation>
				<description value="TRANSPORT OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManRefNumOPE" type="simple:Numeric_13">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MANITE" type="ie:MANITEType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="MANIFEST ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== MANIFEST ITEM ===-->
	<xs:complexType name="MANITEType">
		<xs:annotation>
			<xs:documentation>
				<description value="MANIFEST ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManIteNumMIM" type="simple:Numeric_Max5">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
