ICS2 for luftfragt/XML Guides & XSDs/XSDs/IEAN99.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:this="http://skat.dk/kriamodel/" xmlns:ics2="urn:wco:datamodel:eu:ics2:2" targetNamespace="http://skat.dk/kriamodel/" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>Generated from baseline release</xs:documentation>
    </xs:annotation>
    <xs:import namespace="urn:wco:datamodel:eu:ics2:2" schemaLocation="ICS2/stypes.xsd"/>
    <xs:import namespace="urn:wco:datamodel:eu:ics2:2" schemaLocation="ICS2/ctypes.xsd"/>
    <xs:include schemaLocation="KRIAMANcontroltypes.xsd" />
    <xs:include schemaLocation="KRIAMANpresentationtypes.xsd" />

    <xs:element name="IEAN99" type="this:IEAN99Type" />
    <xs:complexType name="IEAN99Type">
        <xs:sequence>
            <xs:element name="arrivalDeclaration" type="this:arrivalDeclarationTypeKM" />
            <xs:element name="documentIssueDate" type="ics2:DateTimeContentType"/>
            <xs:element name="infoErrorOrWarning" type="this:infoErrorOrWarningTypeKM" minOccurs="0" maxOccurs="99999"/>
            <xs:element name="personLodgingTheArrivalDeclaration" type="this:personLodgingTheArrivalDeclarationType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
