ICS2 for luftfragt/XML Guides & XSDs/XSDs/KRIAMANpresentationtypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:this="http://skat.dk/kriamodel/" targetNamespace="http://skat.dk/kriamodel/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Types for integration between KRIA and Manifest</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="KRIAMANcommontypes.xsd"/>
	<!--=======================================================-->
	<!--==================  arrivalNotification  ==============-->
	<!--=======================================================-->
	<xs:simpleType name="arrivalNotificationTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:totalDigits value="7"/>
			<xs:fractionDigits value="0"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--==================  placeArrivalFacility  =============-->
	<!--=======================================================-->
	<xs:simpleType name="placeArrivalFacilityTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value=".{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--==================  placeArrivalFacilityName  =========-->
	<!--=======================================================-->
	<xs:simpleType name="placeArrivalFacilityNameTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
			<xs:pattern value=".{1,70}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--==================  customsOffice         =============-->
	<!--=======================================================-->
	<xs:simpleType name="customsOfficeTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:pattern value=".{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--==================  errorOrWarningText    =============-->
	<!--=======================================================-->
	<xs:simpleType name="errorOrWarningTextTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
			<xs:pattern value=".{1,300}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--=====================  sequence  ======================-->
	<!--=======================================================-->
	<xs:simpleType name="SequenceTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--===================  manifestItem  ====================-->
	<!--=======================================================-->
	<xs:simpleType name="ManifestItemTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:pattern value=".{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--======================  Carrier  ======================-->
	<!--=======================================================-->
	<xs:complexType name="carrierTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificationNumber" type="this:identificationNumberTypeKM">
				<xs:annotation>
					<xs:documentation>
						<Rules>R3005</Rules>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--================  Transport Equipment  ================-->
	<!--=======================================================-->
	<xs:complexType name="transportEquipmentTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="containerIdentificationNumber" type="this:identificationNumberTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--============  consignmentHouseLevel  ============-->
	<!--=======================================================-->
	<xs:complexType name="consignmentHouseLevelTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sequenceNumber" type="this:SequenceTypeKM" minOccurs="0"/>
			<xs:element name="manifestItemNumber" type="this:ManifestItemTypeKM"/>
			<xs:element name="unloadingPlace" type="this:placeIdentificationTypeKM"/>
			<xs:element name="splitIndicator" type="this:YNContentTypeKM"/>
			<xs:element name="transportDocumentHouseLevel" type="this:TransportDocumentTypeKM" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--==============  consignmentMasterLevel  ===============-->
	<!--=======================================================-->
	<xs:complexType name="consignmentMasterLevelTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="receptacle" type="this:ReceptacleUnloadingTypeKM" minOccurs="0" maxOccurs="999"/>
			<xs:element name="carrier" type="this:carrierTypeKM" minOccurs="0"/>
			<xs:element name="consignmentHouseLevel" type="this:consignmentHouseLevelTypeKM" minOccurs="0" maxOccurs="99999"/>
			<xs:element name="transportDocumentMasterLevel" type="this:TransportDocumentTypeKM" minOccurs="0"/>
			<xs:element name="transportEquipment" type="this:transportEquipmentTypeKM" minOccurs="0" maxOccurs="9999"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  RelatedENSrequest  ===================-->
	<!--=======================================================-->
	<xs:complexType name="RelatedENSTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MRN" type="this:MRNContentTypeKM" minOccurs="0"/>
			<xs:element name="consignmentMasterLevel" type="this:consignmentMasterLevelTypeKM" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  transportOperation ===================-->
	<!--=======================================================-->
	<xs:complexType name="transportOperationTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arrivalNotification" type="this:arrivalNotificationTypeKM"/>
			<xs:element name="actualDateAndTimeOfArrival" type="this:DateTimeContentTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--================  ReceptacleUnloading  ================-->
	<!--=======================================================-->
	<xs:complexType name="ReceptacleUnloadingTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="receptacleIdentificationNumber" type="this:ReceptacleIdentificationContentTypeKM"/>
			<xs:element name="manifestItemNumber" type="this:ManifestItemTypeKM"/>
			<xs:element name="unloadingPlace" type="this:placeIdentificationTypeKM"/>
			<xs:element name="splitIndicator" type="this:YNContentTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--==============  presentationInformation  ==============-->
	<!--=======================================================-->
	<xs:complexType name="presentationInformationTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arrivalDeclaration" type="this:declarationReferenceTypeKM" />
			<xs:element name="relatedENS" type="this:RelatedENSTypeKM" maxOccurs="999"/>
			<xs:element name="personPresentingTheGoods" type="this:personPresentingTheGoodsTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--==================  presentingPlace  ==================-->
	<!--=======================================================-->
	<xs:complexType name="presentingPlaceTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="placeArrivalFacility" type="this:placeArrivalFacilityTypeKM"/>
			<xs:element name="placeArrivalFacilityName" type="this:placeArrivalFacilityNameTypeKM"/>
			<xs:element name="customsOffice" type="this:customsOfficeTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  personPresentingTheGoods  ============-->
	<!--=======================================================-->
	<xs:complexType name="personPresentingTheGoodsTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificationNumber" type="this:identificationNumberTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  infoErrorOrWarning  ============-->
	<!--=======================================================-->
	<xs:complexType name="infoErrorOrWarningTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="errorOrWarningText" type="this:errorOrWarningTextTypeKM"/>
			<xs:element name="MRN" type="this:MRNContentTypeKM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<Conditions>If "Transport document (House level)" is filled in then MRN must be provided; otherwise leave empty</Conditions>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transportDocumentHouseLevel" type="this:TransportDocumentTypeKM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<Conditions>Must be empty if either "Receptacle" or "Entire Presentation failed" is filled</Conditions>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receptacle" type="this:ReceptacleTypeKM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<Conditions>Must be empty if either "Transport document (House level)" or "Entire Presentation failed" is filled</Conditions>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entirePresentationFailed" type="this:entirePresentationFailedTypeKM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<Conditions>Must be empty if either "Transport document (House level)" or "Receptacle" filled</Conditions>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--=============  entirePresentationFailed  ==============-->
	<!--=======================================================-->
	<xs:complexType name="entirePresentationFailedTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arrivalDeclaration" type="this:declarationReferenceTypeKM"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
