ICS2 for luftfragt/XML Guides & XSDs/XSDs/KRIAMANfetchENStypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:this="http://skat.dk/kriamodel/" targetNamespace="http://skat.dk/kriamodel/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Types for integration between KRIA and Manifest</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="KRIAMANcommontypes.xsd"/>
	<!--=======================================================-->
	<!--=====================  parameter  =====================-->
	<!--=======================================================-->
	<xs:simpleType name="ParameterContentTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:maxLength value="4"/>
			<xs:pattern value=".{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--===========  SpecificCircumstanceIndicator  ===========-->
	<!--=======================================================-->
	<xs:simpleType name="SpecificCircumstanceIndicatorContentTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:maxLength value="3"/>
			<xs:pattern value=".{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--=======================  state  =======================-->
	<!--=======================================================-->
	<xs:simpleType name="StateContentTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--=====================  grossMass  =====================-->
	<!--=======================================================-->
	<xs:simpleType name="GrossMassContentTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--======================  netMass  ======================-->
	<!--=======================================================-->
	<xs:simpleType name="NetMassContentTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--==================  goodsItemNumber  ==================-->
	<!--=======================================================-->
	<xs:simpleType name="GoodsItemNumberContentTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="0"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======================================================-->
	<!--============  TransportDocumentHouseLevel  ============-->
	<!--=======================================================-->
	<xs:complexType name="TransportDocumentHouseLevelWithUnloadingStatusTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="documentNumber" type="this:DocumentNumberContentTypeKM"/>
			<xs:element name="type" type="this:TypeContentTypeKM">
				<xs:annotation>
					<xs:documentation>
						<ICS2CLMS>CL754</ICS2CLMS>
						<ICS2CLTrade>CL754</ICS2CLTrade>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unloadingStatus" type="this:YNContentTypeKM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<Conditions>M at pressentation (before DKQN10) for COFE</Conditions>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  RelatedENSrequest  ===================-->
	<!--=======================================================-->
	<xs:complexType name="RelatedENSrequestTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MRN" type="this:MRNContentTypeKM"/>
			<xs:element name="transportDocumentHouseLevel" type="this:TransportDocumentHouseLevelWithUnloadingStatusTypeKM" maxOccurs="99999"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  ReceptacleResponse  ==================-->
	<!--=======================================================-->
	<xs:complexType name="ReceptacleResponseTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="receptacleIdentificationNumber" type="this:ReceptacleIdentificationContentTypeKM"/>
			<xs:element name="specificCircumstanceIndicator" type="this:SpecificCircumstanceIndicatorContentTypeKM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<ICS2CLMS>CL742</ICS2CLMS>
						<ICS2CLTrade>CL742</ICS2CLTrade>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="this:StateContentTypeKM">
				<xs:annotation>
					<xs:documentation>
						<ICS2CLMS>CL743</ICS2CLMS>
						<ICS2CLTrade>CL743</ICS2CLTrade>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prearrivalRiskDone" type="this:YNContentTypeKM"/>
			<xs:element name="arrived" type="this:YNContentTypeKM"/>
			<xs:element name="beingPresented" type="this:YNContentTypeKM"/>
			<xs:element name="presented" type="this:YNContentTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  RejectedReceptacleResponse  ==========-->
	<!--=======================================================-->
	<xs:complexType name="RejectedReceptacleResponseTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="receptacleIdentificationNumber" type="this:ReceptacleIdentificationContentTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--======================  Weight  ======================-->
	<!--=======================================================-->
	<xs:complexType name="WeightTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grossMass" type="this:GrossMassContentTypeKM" minOccurs="0"/>
			<xs:element name="netMass" type="this:NetMassContentTypeKM" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--=====================  GoodsItem  =====================-->
	<!--=======================================================-->
	<xs:complexType name="GoodsItemTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="goodsItemNumber" type="this:GoodsItemNumberContentTypeKM"/>
			<xs:element name="weight" type="this:WeightTypeKM" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  ConsignmentHouseLevel  ===============-->
	<!--=======================================================-->
	<xs:complexType name="ConsignmentHouseLevelTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="specificCircumstanceIndicator" type="this:SpecificCircumstanceIndicatorContentTypeKM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<ICS2CLMS>CL742</ICS2CLMS>
						<ICS2CLTrade>CL742</ICS2CLTrade>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="this:StateContentTypeKM">
				<xs:annotation>
					<xs:documentation>
						<ICS2CLMS>CL743</ICS2CLMS>
						<ICS2CLTrade>CL743</ICS2CLTrade>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preloadRiskDone" type="this:YNContentTypeKM"/>
			<xs:element name="prearrivalRiskDone" type="this:YNContentTypeKM"/>
			<xs:element name="arrived" type="this:YNContentTypeKM"/>
			<xs:element name="beingPresented" type="this:YNContentTypeKM"/>
			<xs:element name="presented" type="this:YNContentTypeKM"/>
			<xs:element name="underControl" type="this:YNContentTypeKM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<Conditions>If HC marked on DKQE01 "To be Unloaded" = N Then "To be Controlled" = Y, "Not to be controlled" = N,  "Null" if the HC is not "arrived" yet</Conditions>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalGrossMass" type="this:GrossMassContentTypeKM" minOccurs="0"/>
			<xs:element name="goodsItem" type="this:GoodsItemTypeKM" maxOccurs="9999"/>
			<xs:element name="transportDocumentHouseLevel" type="this:TransportDocumentTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  RejectedHouseLevel  ==================-->
	<!--=======================================================-->
	<xs:complexType name="RejectedHouseLevelTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transportDocumentHouseLevel" type="this:TransportDocumentTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  ConsignmentMasterLevel  ==============-->
	<!--=======================================================-->
	<xs:complexType name="ConsignmentMasterLevelTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="totalGrossMass" type="this:GrossMassContentTypeKM" minOccurs="0"/>
			<xs:element name="consignmentHouseLevel" type="this:ConsignmentHouseLevelTypeKM" minOccurs="0" maxOccurs="99999"/>
			<xs:element name="rejectedHouseLevel" type="this:RejectedHouseLevelTypeKM" minOccurs="0" maxOccurs="99999"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  RelatedENSresponse  ==================-->
	<!--=======================================================-->
	<xs:complexType name="RelatedENSresponseTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="documentIssueDate" type="this:DateTimeContentTypeKM"/>
			<xs:element name="MRN" type="this:MRNContentTypeKM"/>
			<xs:element name="consignmentMasterLevel" type="this:ConsignmentMasterLevelTypeKM"/>
		</xs:sequence>
	</xs:complexType>
	<!--=======================================================-->
	<!--===============  RejectedENS  =========================-->
	<!--=======================================================-->
	<xs:complexType name="RejectedENSTypeKM">
		<xs:annotation>
			<xs:documentation>KRIA Manfest</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MRN" type="this:MRNContentTypeKM"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
